body {
    color:#2b2a26;
}
.logo {
            
        }
a {
  color:white;
  text-decoration:none; 
  
}
a:hover {
    color:#c91b1b;
}
        .logo span {
            font-family: 'Poiret One', senrif;
            font-size:1.4em;
        }
        
        .contato {
            background-color: #ffea93;
            border-radius: 0.3em;
            box-shadow:0px 0px 0px 1px #b4b1a3 inset;
            min-width: 10em;
        }
        
        .contato h3 {
            font-family: 'Catamaran', sans-serif;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0.5em;
            color:#2b2a26;
            text-align: center;
            font-size:1em;
        }
        .contato p {
            font-family: 'Josefin Slab', senrif;
            margin: 0 auto;
            padding-bottom: 0.2em;
            text-align: center;
                
        }
        
        .menu {
            background-color: #2b2a26;
            color:white;
            font-family: 'Josefin Slab', senrif;
            text-align: center;
        }
        
#menu-mobile {
   font-family: 'Catamaran', sans-serif;
    font-size:2em;
}

#menu-mobile-items {
    display: none;
    width: 100%;
}

#menu-mobile-items ul {
    display: inline-block;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
    background-color:white;
}

#menu-mobile-items li {
    display: block;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 1px solid #b4b1a3;
}

#menu-mobile-items li a {
    color: #2b2a26;
    font-size:1.8em;
}

#menu-mobile-items li a:hover {
    color: #c91b1b;
}

@media (max-width: 600px) {
    #menu-mobile {
        display: inline-block;
    }
    
    .prevenda div {
        width: 100%;
        font-size: 0.7em;
    }
    
    .prevenda h1 {
        word-wrap: break-word;
    }
    
    .contato {
        margin-top: 1em;
    }
    #menu-conv {
        display: none;
    }
}

@media(min-width:601px) {
    #menu-mobile {
        display:none;
    }
    
    .prevenda div {
        width: 70%;
        
    }
    #menu-conv {
        display: inline-block;
    }
}

        .menu ul {
            display: inline;
        }
        
        .menu li {
            display: inline-block;
            margin-right: 5em;
             font-family: 'Catamaran', senrif;
        }
        
        .prevenda {
            background-image: url(prevenda1.jpg);
            min-height: 300px;
            background-position: center;
            background-size: cover;
            border-bottom: 1px solid black;
            opacity: 0.7;
    
        }
        
        .prevenda div {
            
            margin: 0 auto;
            display: flex;
            align-items: center;
            display: block;
        }
        
        .prevenda div h1 {
            font-family: "Catamaran", senrif;
            color:white;
            text-shadow: 0 0 0.1em #000;
            font-size: 5em;
            text-align: center;
            height: 0.7em;
        }
        
        .prevenda div h3 {
            width: 100%;
            font-family: 'Open Sans', senrif;
            text-align: center;
            vertical-align: middle;  
        }
        
        .rodape {
            background-color:#ffea93;
            
            color:#2b2a26;
            width:80%;
            margin:1em auto;
            border-radius:0.5em;
            padding-left: 1em;
            padding-top:0.5em;
            padding-bottom: 0.3em;
            display: inline;
        }
        
        .rodape p {
            font-family: 'Josefin Slab', senrif;
            margin:0.1em;
        }
        .dev {
            background-color: #af0202;
            color:white;
        }
        
        .conteudo {
            width: 80%;
            margin: 0 auto;
           
            
        }
        
        .conteudo div {
             font-family: 'Open Sans',senrif;
        }
        
        .bloco-simples div {
            margin-top:1em;
             
        }
        
        .bloco-simples h4 {
            
        }
        
        .bloco-simples p {
            padding-left: 1em;
        }